<table class="table">
  <thead>
    <tr>
      <th scope="col">Bảng</th>
      <th scope="col">quản lý</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Ảnh</th>
      <td> 
          <a  asp-area="" asp-controller="Anh" asp-action="create">create</a>|
          <a  asp-area="" asp-controller="Anh" asp-action="ShowListAnh">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Màu sắc</th>
      <td> 
          <a  asp-area="" asp-controller="MauSac" asp-action="Create">create</a>|
          <a  asp-area="" asp-controller="MauSac" asp-action="ShowListMau">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Nsx</th>
      <td> 
          <a  asp-area="" asp-controller="Nsx" asp-action="Create">Create</a>|
          <a  asp-area="" asp-controller="Nsx" asp-action="ShowListNsx">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Size</th>
      <td> 
          <a  asp-area="" asp-controller="Size" asp-action="Create">create</a>|
          <a  asp-area="" asp-controller="Size" asp-action="ShowListSize">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Sản phẩm</th>
      <td> 
          <a  asp-area="" asp-controller="SanPham" asp-action="Create">Create</a>|
          <a  asp-area="" asp-controller="SanPham" asp-action="ShowListSp">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Chi tiết Sản phẩm</th>
      <td> 
          <a  asp-area="" asp-controller="ChiTietSanPham" asp-action="Create">Create</a>|
          <a  asp-area="" asp-controller="ChiTietSanPham" asp-action="ShowListCtsp">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Loại</th>
      <td> 
          <a  asp-area="" asp-controller="Loai" asp-action="Create">Create</a>|
          <a  asp-area="" asp-controller="Loai" asp-action="ShowListLoai">List</a>|

      </td>
    </tr>
    <tr>
      <th scope="row">Chuc vu</th>
      <td> 
          <a  asp-area="" asp-controller="ChucVu" asp-action="Create">Create</a>|
          <a  asp-area="" asp-controller="ChucVu" asp-action="ShowListCv">List</a>|

      </td>
    </tr>
  </tbody>
</table>