@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<head>
    
    
    
</head>
<div class="c-topsearch__result" data-action="activateOpenSearch">
    <input class="c-form__input" type="search" name="q" value="" placeholder="Adidas, Hourglass, Speed..."
        autocomplete="off" aria-label="Termes à rechercher" aria-describedby="c-topsearch__description"
        data-ref="topSearchInput" data-action="topSearchInputKeypress" data-min="3" data-max-sugg="10"
        style="width: 100%;height: 44px;">
    <div class="c-topsearch__autosuggest c-topsearch__autosuggest--hidden"
        data-url="/on/demandware.store/Sites-BAL-R-NOAM-Site/en_US/SearchServices-GetSuggestions?getRecentSearch=true&amp;getPopularSearch=true&amp;q="
        data-ref="topSearchSuggestions" data-bind="searchSuggestions">
    </div>
</div>
<div class="l-site__container" data-container="storefront">


    <div class="c-homecarousel">


        <div class="c-homepagetile c-homepagetile--" data-component="homePageCategory">
            <div class="c-homepagetile__imgwrapper">

                <a href="#">



                    <picture class="c-homepagetile__picture">
                        <source media="(min-width: 1024px)"
                            srcset="https://balenciaga.dam.kering.com/m/7ed3602c86e68e95/Large-43_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_2.jpg 2000w, https://balenciaga.dam.kering.com/m/7ed3602c86e68e95/Medium-43_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_2.jpg 1000w, https://balenciaga.dam.kering.com/m/7ed3602c86e68e95/Small-43_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_2.jpg 750w">
                        <source media="(min-width: 768px)"
                            srcset="https://balenciaga.dam.kering.com/m/7ed3602c86e68e95/Large-43_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_2.jpg 2000w, https://balenciaga.dam.kering.com/m/7ed3602c86e68e95/Medium-43_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_2.jpg 1000w, https://balenciaga.dam.kering.com/m/7ed3602c86e68e95/Small-43_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_2.jpg 750w">
                        <source media="(max-width: 767px)"
                            srcset="https://balenciaga.dam.kering.com/m/463267f40b1833/Medium-42_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_2.jpg, https://balenciaga.dam.kering.com/m/463267f40b1833/Large-42_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_2.jpg 2x">
                        <img src="https://balenciaga.dam.kering.com/m/463267f40b1833/Medium-42_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_2.jpg"
                            class="c-homepagetile__pictureimg" sizes="100vw" alt="">
                    </picture>


                </a>

            </div>

            <div class="c-homepagetile__overlay">

                <h4 class="c-homepagetile__title" data-ref="homeCTATitle">
                    <p><span style="color:#ffffff;">BEST SELLING</span></p>
                </h4>

                <div class="c-homepagetile__btns">
                    <a class="c-button c-homepagetile__btn" href="#"><span>FOR MEN</span></a>
                </div>
            </div>

        </div>

        <div class="c-homepagetile c-homepagetile--" data-component="homePageCategory">
            <div class="c-homepagetile__imgwrapper">

                <a href="#">



                    <picture class="c-homepagetile__picture">
                        <source media="(min-width: 1024px)"
                            srcset="https://balenciaga.dam.kering.com/m/5bddfbdf039247b/Large-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_11.jpg 2000w, https://balenciaga.dam.kering.com/m/5bddfbdf039247b/Medium-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_11.jpg 1000w, https://balenciaga.dam.kering.com/m/5bddfbdf039247b/Small-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_11.jpg 750w">
                        <source media="(min-width: 768px)"
                            srcset="https://balenciaga.dam.kering.com/m/5bddfbdf039247b/Large-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_11.jpg 2000w, https://balenciaga.dam.kering.com/m/5bddfbdf039247b/Medium-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_11.jpg 1000w, https://balenciaga.dam.kering.com/m/5bddfbdf039247b/Small-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_11.jpg 750w">
                        <source media="(max-width: 767px)"
                            srcset="https://balenciaga.dam.kering.com/m/6053a4f95d757852/Medium-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_11.jpg, https://balenciaga.dam.kering.com/m/6053a4f95d757852/Large-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_11.jpg 2x">
                        <img src="https://balenciaga.dam.kering.com/m/6053a4f95d757852/Medium-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_11.jpg"
                            class="c-homepagetile__pictureimg" sizes="100vw" alt="">
                    </picture>


                </a>

            </div>

            <div class="c-homepagetile__overlay">

                <h4 class="c-homepagetile__title" data-ref="homeCTATitle">
                    <p><span style="color:#000000;">NEW</span></p>
                </h4>

                <div class="c-homepagetile__btns">
                    <a class="c-button c-homepagetile__btn" href="#"><span>SHOP NOW</span></a>
                </div>
            </div>

        </div>












        <div class="c-homepagetile c-homepagetile--light" data-component="homePageCategory">
            <div class="c-homepagetile__imgwrapper">

                <a href="#">



                    <picture class="c-homepagetile__picture">
                        <source media="(min-width: 1024px)"
                            srcset="https://balenciaga.dam.kering.com/m/bdbce2c9eea8ed2/Large-34611_SMI_Balenciaga_330287_17_0002_V03_2200x1100.jpg 2000w, https://balenciaga.dam.kering.com/m/bdbce2c9eea8ed2/Medium-34611_SMI_Balenciaga_330287_17_0002_V03_2200x1100.jpg 1000w, https://balenciaga.dam.kering.com/m/bdbce2c9eea8ed2/Small-34611_SMI_Balenciaga_330287_17_0002_V03_2200x1100.jpg 750w">
                        <source media="(min-width: 768px)"
                            srcset="https://balenciaga.dam.kering.com/m/bdbce2c9eea8ed2/Large-34611_SMI_Balenciaga_330287_17_0002_V03_2200x1100.jpg 2000w, https://balenciaga.dam.kering.com/m/bdbce2c9eea8ed2/Medium-34611_SMI_Balenciaga_330287_17_0002_V03_2200x1100.jpg 1000w, https://balenciaga.dam.kering.com/m/bdbce2c9eea8ed2/Small-34611_SMI_Balenciaga_330287_17_0002_V03_2200x1100.jpg 750w">
                        <source media="(max-width: 767px)"
                            srcset="https://balenciaga.dam.kering.com/m/4e57f56de481cf25/Medium-34611_SMI_Balenciaga_330287_17_0002_V03_1781x2200.jpg, https://balenciaga.dam.kering.com/m/4e57f56de481cf25/Large-34611_SMI_Balenciaga_330287_17_0002_V03_1781x2200.jpg 2x">
                        <img src="https://balenciaga.dam.kering.com/m/4e57f56de481cf25/Medium-34611_SMI_Balenciaga_330287_17_0002_V03_1781x2200.jpg"
                            class="c-homepagetile__pictureimg" sizes="100vw" alt="">
                    </picture>


                </a>

            </div>

            <div class="c-homepagetile__overlay">

                <h4 class="c-homepagetile__title" data-ref="homeCTATitle">
                    <p><span style="color:#000000">CAGOLE BOOTS</span></p>
                </h4>

                <div class="c-homepagetile__btns">
                    <a class="c-button c-homepagetile__btn" href="#"><span>SHOP NOW</span></a>
                </div>
            </div>

        </div>





        <div class="c-homepagetile c-homepagetile--" data-component="homePageCategory">
            <div class="c-homepagetile__imgwrapper">

                <a href="#">



                    <picture class="c-homepagetile__picture">
                        <source media="(min-width: 1024px)"
                            srcset="https://balenciaga.dam.kering.com/m/ba5c25d6e23629/Large-hourglass.jpg 2000w, https://balenciaga.dam.kering.com/m/ba5c25d6e23629/Medium-hourglass.jpg 1000w, https://balenciaga.dam.kering.com/m/ba5c25d6e23629/Small-hourglass.jpg 750w">
                        <source media="(min-width: 768px)"
                            srcset="https://balenciaga.dam.kering.com/m/ba5c25d6e23629/Large-hourglass.jpg 2000w, https://balenciaga.dam.kering.com/m/ba5c25d6e23629/Medium-hourglass.jpg 1000w, https://balenciaga.dam.kering.com/m/ba5c25d6e23629/Small-hourglass.jpg 750w">
                        <source media="(max-width: 767px)"
                            srcset="https://balenciaga.dam.kering.com/m/444dced5244a4bee/Medium-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_14.jpg, https://balenciaga.dam.kering.com/m/444dced5244a4bee/Large-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_14.jpg 2x">
                        <img src="https://balenciaga.dam.kering.com/m/444dced5244a4bee/Medium-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_14.jpg"
                            class="c-homepagetile__pictureimg" sizes="100vw" alt="">
                    </picture>


                </a>

            </div>

            <div class="c-homepagetile__overlay">

                <h4 class="c-homepagetile__title" data-ref="homeCTATitle">
                    <p><span style="color:#ffffff;">HOURGLASS BAG </span></p>
                </h4>

                <div class="c-homepagetile__btns">
                    <a class="c-button c-homepagetile__btn" href="#"><span>SHOP NOW</span></a>
                </div>
            </div>

        </div>





        <div class="c-homepagetile c-homepagetile--" data-component="homePageCategory">
            <div class="c-homepagetile__imgwrapper">

                <a href="#">



                    <picture class="c-homepagetile__picture">
                        <source media="(min-width: 1024px)"
                            srcset="https://balenciaga.dam.kering.com/m/6409a542e591799d/Large-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_8.jpg 2000w, https://balenciaga.dam.kering.com/m/6409a542e591799d/Medium-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_8.jpg 1000w, https://balenciaga.dam.kering.com/m/6409a542e591799d/Small-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_8.jpg 750w">
                        <source media="(min-width: 768px)"
                            srcset="https://balenciaga.dam.kering.com/m/6409a542e591799d/Large-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_8.jpg 2000w, https://balenciaga.dam.kering.com/m/6409a542e591799d/Medium-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_8.jpg 1000w, https://balenciaga.dam.kering.com/m/6409a542e591799d/Small-26_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2600x1300px_-ratio_200-_No_Logo_8.jpg 750w">
                        <source media="(max-width: 767px)"
                            srcset="https://balenciaga.dam.kering.com/m/446db36e1b23f770/Medium-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_8.jpg, https://balenciaga.dam.kering.com/m/446db36e1b23f770/Large-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_8.jpg 2x">
                        <img src="#https://balenciaga.dam.kering.com/m/446db36e1b23f770/Medium-25_New_Design_Balcom_HP_and_Balcon-HP_Mobile_PR_Winter22Campaign_2105x2600Px_4_5_-ratio_Visible_60-_No_Logo_8.jpg"
                            class="c-homepagetile__pictureimg" sizes="100vw" alt="">
                    </picture>


                </a>

            </div>

            <div class="c-homepagetile__overlay">

                <h4 class="c-homepagetile__title" data-ref="homeCTATitle">
                    <p><span style="color:#000000;">DEFENDER SNEAKER</span></p>
                </h4>

                <div class="c-homepagetile__btns">
                    <a class="c-button c-homepagetile__btn" href="#"><span>FOR MEN</span></a>
                    <a class="c-button c-homepagetile__btn" href="#"><span>FOR WOMEN</span></a>
                </div>
            </div>

        </div>




    </div>




</div>